extends layout

block content
  .voting-container(ng-controller="VoteCtrl")
    h1 Sexy Bachelor
    p.lead Which bachelor photoshop is better?
    hr
    .row
      .col-sm-5
        h2 Photoshop Submitted Title
        .voting-image
          img(src="/images/bachelor-juanpablo-nikki.jpg")
          .vote-overlay
            i.fa.fa-check
      .col-sm-2.vs-col
        em.vs VS
      .col-sm-5
        h2 Photoshop Submitted Title
        .voting-image
          img(src="/images/sloth-bachelor-rose-ceremony.png")
          .vote-overlay
            i.fa.fa-check

  div(ng-controller="PhotoCtrl")
    ul
      li(ng-repeat="photo in photos")
        p {{photo.url}}
        p {{photo.downVotes}}
        p {{photo.upVotes}}
  div(ng-controller="ChallengeCtrl")
    ul
      li(ng-repeat="challenge in challenges")
        p {{challenge.subject}}
        ul
          li(ng-repeat="photo in photos")
            p {{photo.url}}
            p {{photo.downVotes}}
            p {{photo.upVotes}}