extends layout

block content
  .voting-container
    h1 Sexy Bachelor
    p.lead Which bachelor photoshop is better?
    hr
    .row
      .col-sm-5
        h2 Photoshop Submitted Title
        .voting-image
          img(src="/images/bachelor-juanpablo-nikki.jpg")
          .vote-overlay
            i.fa.fa-check
      .col-sm-2.vs-col
        em.vs VS
      .col-sm-5
        h2 Photoshop Submitted Title
        .voting-image
          img(src="/images/sloth-bachelor-rose-ceremony.png")
          .vote-overlay
            i.fa.fa-check

div(ng-controller="VoteCtrl")
  p(ng-repeat="photo in photos")
    {{ photo.url }}